ul {
    list-style: none;
}

.about-img-container {
    height: auto;
    margin: auto;
    width: 40%;
}

.about-img {
    margin: auto;
    width: 100%;
}

.about-text {
    max-width: 500px;
    margin: auto !important;
    text-align: center;
}