ul {
    list-style: none;
}

.about {
    margin-left: 25%;
    margin-right: 25%;
}

.about-img-container {
    height: auto;
    margin: auto;
    width:  300px;
}

.about-img {
    margin: auto;
    width: 100%;
}

.about-text {
    max-width: 500px;
    margin: auto !important;
    text-align: left;
}