.about {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

blockquote {
    background-color: rgb(243, 243, 243);
    color: #333;
    margin-top: 5px;
    padding-left: 3em;
    border-left: 0.5em #ccc solid;
}

td {
    border: 1px solid #666;
}

th {
    background-color: #aaa;
    padding: 5px;
}

tr {
    border: 1px solid #aaa;
}