.content-container {
    background-color: white;
    height: auto;
    margin: auto;
    margin-top: 100px;
    min-height: 700px;
    position: relative;
    text-align: center;
    max-width: 1000px;
}

.tab-title {
    animation: type 4s steps(60, end);
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 600;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    white-space: nowrap;
    width: 90%;
}
