.navbar {
    align-items: center;
    background-color: lemonchiffon;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 30%;
}