.navbar {
    align-items: center;
    background-color: lightskyblue;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 30%;
}

.navbar-tabs {
    cursor: pointer;
}