a {
    color: inherit;
    text-decoration: none;
}

.button-container {
    height: 50px;
    padding-top: 8px;
    width: 100%;
}

.button-container button {
    display: inline-block;
    height: inherit;
    line-height: normal;
    text-align: center;
    vertical-align: top;
    width: 50%;
}

.button-github-only {
    height: 50px;
    margin-top: 8px !important;
    width: 100%;
}

.projects-container {
    background-color: white;
    display: inline-block; 
    padding: 25px;
    vertical-align: top;
}

.project-description {
    grid-row: 2;
    text-align: left;
    width: 350px;
}

.project-github {
    height: 40px;
    margin: auto;
    overflow: hidden;
    width: auto;
}

.project-image {
    border: 1px solid black;
    max-width: 100%;
    vertical-align: middle;
}

.project-image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.project-info {
    color: royalblue;
    text-emphasis: italic;
    width: inherit;
}

.project-name {
    color: grey;
    font-size: 1.2em;
    margin-top: 15px;
}

.project-summary { 
    cursor: pointer;
    /* display: -webkit-box; */
    height: 72px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    width: inherit;
    /* -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   */
} 

.project-summary-full {
    cursor: text !important;
    display: inline !important;
    height: auto;
    width: inherit;
}

.project-summary:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.project-thumbnail {
    grid-row: 1;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    width: 350px;
    height: 350px;
}
