.soundboard {
	display: inline-flex;
	justify-content: space-evenly;
}

.sound-slider {
	display: flexbox;
	width: 400px;    
}

.playing-slider {
	display: flexbox;
	width: 400px;
}

.soundboard-container {
	margin: 15px;
}

.reset-wrapper {
	display: flex;
	justify-content: center;
}