@media only screen and (min-device-width: 320px) {
	.soundboard {
		display: flexbox;
	}

	.sound-slider {
		display: flex;
		width: 100%;
		background-color: rgb(209, 203, 203) !important;
	}

	.playing-slider {
		display: flex;
		width: 100%;
		background-color: rgb(209, 203, 203) !important;
	}

	.reset-wrapper {
		display: flex;
		justify-content: center;
	}
}

@media only screen and (min-device-width: 992px) {
	.soundboard {
		display: flex;
		justify-content: center;
	}

	.sound-slider {
		display: inline-flex;
		width: 400px;
		background-color: rgb(209, 203, 203) !important;
	}

	.playing-slider {
		display: inline-flex;
		width: 400px;
		background-color: rgb(209, 203, 203) !important;
	}

	.soundboard-container {
		margin: 15px;
	}

	.reset-wrapper {
		display: flex;
		justify-content: center;
	}
}

.campfire-animated {
	background-position: center;
	z-index: 1;
	background: url("./assets/Campfire.gif");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
}

.campfire-still {
	background-position: center; 
	z-index: 1;
	background: url("./assets/Campfire.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
}

.sound-title {
	color: white;
	text-emphasis: bold;
	font-size: 18px; 
}

.slide-out-animation {
	-webkit-animation-name: slide-out;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-name: slide-out;
	animation-duration: 0.5s; 
	animation-fill-mode: fowards;
}

.slide-in-animation {
	-webkit-animation-name: slide-in;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-name: slide-in;
	animation-duration: 0.5s;
	animation-fill-mode: fowards;
}

@keyframes slide-in {
	0% {
		left: 100px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

@keyframes slide-out {
	0% {
		left: 0px;
		opacity: 1;
	}
	100% {
		left: -100px;
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}