.about-img {
    height: auto;
    margin: 20px;
    width: 40%;
}

.about-text {
    background-color: lightgrey !important;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}