label {
    text-align: left;
}

.about-text {
    background-color: white;
}

.contact-form {
    height: 470px;
    margin: auto;
    padding: 15px;
    width: 530px;
}

.form-group {
    margin: auto;
    padding-bottom: 15px;
    text-align: left;
    width: 500px;
}

.form-message {
    resize: none;
}

.mail-status {
    font-size: 2rem;
    padding-top: 15px;
}

.sending-gif {
    align-items: center;
    display: flex;
    height: 470px;
    justify-content: center;
    padding: 15px;
    width: 530px;
}