.active-tab {
    font-weight: bolder;
}

.navbar {
    align-items: center;
    background-color: black;
    height: 50px;
    padding: 0px;
    transition: 0.3s;
}

.navbar:hover {
    height: 70px; 
}

.navbar-items {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 30%;
}


.navbar-tabs {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
    width: 80px;
}

.navbar-tabs:hover {
    font-size: 1.5rem;
}

@keyframes select-tab {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
        background: gray; 
    }
}