.title {
    background-color: black;
    font-family: Montserrat;
    margin: auto;
    position: relative;
    text-align: center;
    top: 100px;
    width: 500px;
    z-index: 1;
}

.title-name {
    animation: type 2s steps(60, end);
    color: whitesmoke;
    font-family: monospace;
    font-size: 3em;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}

.title-wrapper {
    width: 100%;
}

@keyframes type {
    from {
        width: 0;
    }
}